@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}


@layer base {
  :root {
    --font-heading: 'Ubuntu', sans-serif;
    /* Define custom fonts */
    --font-body: 'Ubuntu', sans-serif;
    --background: 0, 0, 0;
    --white-background: 0, 0%, 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --select-content-background-color: 222, 47%, 11%;
    --side-background: 202.4, 51.1%, 44.1%;
    --side-list-hover: 215.6, 100%, 46.3%;



  }


  .dark {
    --background: #1a1a1a;
    /* Dark mode background */
    --foreground: #ffffff;
    /* Dark mode text */
  }







}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  .select-item {
    @apply px-4 py-2 cursor-pointer;
  }

  .select-item:hover {
    @apply bg-gray-200 dark:bg-gray-700;
  }
  
}


.react-datepicker-wrapper {
  width: 100%;
}


ol, ul {
  /* list-style-type: inherit !important; */
  padding-left: 20px;
}


h1 {
  font-size: 2.5em; /* Customize the size */
  font-weight: bold;
}


.ql-font-serif {
  font-family: 'Georgia', serif;
}

.ql-font-monospace {
  font-family: 'Courier New', monospace;
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-lobster {
  font-family: 'Lobster', cursive;
}

/* Add custom size options if needed */
.ql-size-small {
  font-size: 12px;
}

.ql-size-medium {
  font-size: 16px;
}

.ql-size-large {
  font-size: 20px;
}

.ql-size-huge {
  font-size: 32px;
}


/* Custom alignment styles if needed */
.ql-align-left {
  text-align: left !important;
}



.ql-align-center {
  text-align: center !important;
}

.ql-align-right {
  text-align: right !important;
}

.ql-editor .ql-align-justify {
  text-align: justify !important;
}


/* Blockquote styles */
.ql-editor blockquote {
  border-left: 2px solid #ccc; /* Change color as needed */
  padding-left: 1em;
  margin: 1em 0;
  font-style: italic; /* Optional */
}

/* Link styles */
.ql-editor a {
  color: #007bff; /* Change color as needed */
  text-decoration: underline;
}

.ql-editor a:hover {
  color: #0056b3; /* Change color as needed */
  text-decoration: none;
}


h2 {
  font-size: 2em;
  font-weight: bold;
}


.ql-container {
  
  height: 100px;
}